#droydrunner
WebOb==1.4
WebTest==2.0.15
beautifulsoup4==4.3.2
jsonpatch==1.7
jsonpointer==1.4
requests==2.4.1
robotframework==2.8.5
robotframework-httplibrary==0.4.2
robotframework-sudslibrary==0.8
robotframework-uiautomatorlibrary==0.1
six==1.7.3
suds==0.4
uiautomator==0.1.32
urllib3==1.9
waitress==2.1.1
wsgiref==0.1.2
